.container
{
    max-width: 1450px;
    height: 1000px;
    background-image: url(../photo/chart.png);
    background-repeat: no-repeat;
    background-size: 70% 57%;
    background-position:top left 13.5vw;
    position: relative;
    top: 0px;
}
.chat1
{
    height: 25%;
}
.chat3
{
    margin-top: 0.5vw;
}
.col-12>span
{
    font-size: 28px;
    font-weight: 500;
    color: rgb(117, 117, 117);
}
.col-12>span+.text1
{
    font-size: 22.5px;
    font-weight: 350;
    display: block;
    width: 400px;
    color: rgb(114, 114, 114);
}
.col-12>span+.text2
{
    font-size: 22.5px;
    font-weight: 350;
    display: block;
    width: 455px;
    color: rgb(114, 114, 114);
}
.col-12>span+.text3
{
    font-size: 22.5px;
    font-weight: 350;
    display: block;
    width: 460px;
    border: soli;
    color: rgb(114, 114, 114);
}
.trystring
{
    position: absolute;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 17px;
    color: white;
}
.trystring>span+span
{
    font-size: 46px;
    margin-bottom: 10px;
}
@media screen and (max-width:1700px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 14vw;
}
.chat1
{
    height: 22.5%;
}
.chat3
{
    margin-top: 1.5vw;
}
.col-12>span
{
    font-size: 24px;
}
.col-12>span+.text1
{
    font-size: 20px;
    display: block;
    width: 355px;
    border: soli;
}
.col-12>span+.text2
{
    font-size: 20px;
    display: block;
    width: 405px;
    border: soli;
}
.col-12>span+.text3
{
    font-size: 20px;
    display: block;
    width: 410px;
    border: soli;
}
.trystring
{
    position: absolute;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 15px;
    color: white;
}
.trystring>span+span
{
    font-size: 41px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:1600px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 14vw;
}
.chat1
{
    height: 22.5%;
}
.chat3
{
    margin-top: 2vw;
}

.col-12>span
{
    font-size: 24px;
}
}
@media screen and (max-width:1500px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 15.5vw;
}
.chat1
{
    height: 22.5%;
}
.chat3
{
    margin-top: 2vw;
}
.col-12>span
{
    font-size: 24px;
}

}
@media screen and (max-width:1400px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 15.5vw;
}
.chat1
{
    height: 22.5%;
}
.chat3
{
    margin-top: 2vw;
}
.col-12>span+span
{
    font-size: 14px;
    font-weight: 500;
}
.col-12>span
{
    font-size: 24px;
    font-weight: 500;
}
.col-12>span+.text1
{
    font-size: 20px;
    display: block;
    border: soli;
}
.col-12>span+.text2
{
    font-size: 20px;
    display: block;
    width: 405px;
    border: soli;
}
.col-12>span+.text3
{
    font-size: 20px;
    display: block;
    width: 410px;
    border: soli;
}
}
@media screen and (max-width:1366px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 16vw;
}
.chat1
{
    height: 22.5%;
}
.chat3
{
    margin-top: 2.5vw;
}
}
@media screen and (max-width:1300px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 17vw;
}
.chat1
{
    height: 22.5%;
}
.chat3
{
    margin-top: 1.5vw;
}
}
@media screen and (max-width:1250px)
{
.container
{
    max-width: 1250px;
    background-size: 70% 52%;
    background-position:top left 18vw;
}
.chat3
{
    margin-top: 2vw;
}
}
@media screen and (max-width:1200px)
{
.container
{
    max-width: 1000px;
    background-size: 70% 45%;
    background-position:top left 15vw;
}
.chat1
{
    height: 18.5%;
}
.chat3
{
    margin-top: 2.8vw;
}
.col-12>span
{
    font-size: 22px;
}
.col-12>span+.text1
{
    font-size: 18px;
    display: block;
    width: 320px;
    border: soli;
}
.col-12>span+.text2
{
    font-size: 18px;
    display: block;
    width: 365px;
    border: soli;
}
.col-12>span+.text3
{
    font-size: 18px;
    display: block;
    width: 370px;
    border: soli;
}
.trystring
{
    position: absolute;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 12px;
    color: white;
}
.trystring>span+span
{
    font-size: 32px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:1100px)
{
.container
{
    max-width: 1200px;
    background-size: 70% 48%;
    background-position:top left 17vw;
}
.chat1
{
    height: 20%;
}
.chat3
{
    margin-top: 3.8vw;
}
}
@media screen and (max-width:1050px)
{
.container
{
    max-width: 1200px;
    background-size: 70% 48%;
    background-position:top left 17vw;
}
.chat1
{
    height: 19%;
}
.chat3
{
    margin-top: 6vw;
}
}
@media screen and (max-width:991px)
{
.container
{
    background: none;
}
.chat1
{
    height: auto;
}
.chat3
{
    margin-top: 0vw;
}
.img
{
    width: 25%;
    margin-top: 50px;
}
.try
{
    width: 30%;
    margin-top: 60px;
}
.trystring
{
    position: absolute;
    padding-left: 15px;
    padding-top: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 14px;
    color: white;
}
.trystring>span+span
{
    font-size: 37px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:850px)
{
.trystring
{
    position: absolute;
    padding-left: 15px;
    padding-top: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 12px;
    color: white;
}
.trystring>span+span
{
    font-size: 30px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:800px)
{
.container
{
    background: none;
}
.img
{
    width: 30%;
}
.try
{
    width: 35%;
}
}
@media screen and (max-width:600px)
{
.trystring
{
    position: absolute;
    padding-left: 15px;
    padding-top: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 12px;
    color: white;
}
.trystring>span+span
{
    font-size: 23px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:450px)
{
.trystring
{
    position: absolute;
    padding-left: 15px;
    padding-top: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.trystring>span
{
    font-size: 10px;
    color: white;
}
.trystring>span+span
{
    font-size: 18px;
    margin-bottom: 10px;
}
}